* {
    background-color: hsl(185, 75%, 39%);
    font-size: 18px;
}

#topImage {
    position: absolute;
    bottom: 500px;
    left: -300px;
}

#bottomImage {
    position: absolute;
    top: 500px;
    right: -300px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card img {
    border-radius: 50%;
}

.socialMedia {
    display: flex;
    justify-content: center;
    align-items: center;
}

.attribution { 
    font-size: 11px; 
    text-align: center;
    color: hsl(228, 45%, 44%); 
}